* {
    box-sizing: border-box;
    margin: auto;
}

.bg-img {
    background-image: url(../../image/Calculateur.svg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

/* Add styles to the form container */
.container {
    margin: auto;
    min-width: 300px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

form {
    max-width: 60%;
    padding: 40px 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

input {
    margin: 8px 0;
}