/* * {
    border: 1px dashed rgb(134, 67, 67);
    background-color: rgba(0, 0, 0, 0.1);
} */


.circle {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    border: 18px solid green;
    position: absolute;
    right: -50px;
    top: -60px;
}


#form-style {
    padding: 20px;
    margin: auto;

}

.f-1-600 {
    flex: 1 1 400px;
}

form {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

form input {
    background-color: #ffffff9c;
}

.msg-btn-style {
    max-height: 180px;
}

#message {
    padding-bottom: 120px;
}

.input-footer {
    gap: 16px;
}

button[type=submit] {
    background-color: #009961;
    color: white;
    border-radius: 16px;
    padding: 6px 12px;
}

@media screen and (min-width: 320px) and (max-width: 835px) {
    #bg-img {
        background-image: url(../../image/Calculateur.svg);
        background-position: 40% 50%; /* axe X - axe Y*/
        background-repeat: repeat-x;
        background-size: 10%;
    }
    
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 7px dashed rgba(0, 255, 21, 0.1);
        position: absolute;
        right: 20px;
        top: 200px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1730px) {
    #bg-img {
        background-image: url(../../image/Calculateur.svg);
        background-position: 10% 0%; /* axe X - axe Y*/
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .circle {
        width: 140px;
        height: 140px;
        border-radius: 140px;
        border: 17px solid rgba(0, 128, 0, 0.8);
        position: absolute;
        right: -90px;
        top: -70px;
    }
}

