body {
    box-sizing: border-box;
}

.bg-img {
    background-image: url(../../image/Calculateur.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.circle-img {
    background-image: url(../../image/cercle.svg);
    max-height: 25vh;
    background-position: right;
    background-repeat: no-repeat;
}

.w-special {
    max-width: 1020px;
}

#form-style {
    padding: 20px;
    margin: auto;

}

.f-1-600 {
    flex: 1 1 400px;
}

form {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

form input {
    background-color: #ffffff9c;
}

.msg-btn-style {
    max-height: 180px;
}

#message {
    padding-bottom: 120px;
}

.input-footer {
    gap: 16px;
}

button[type=submit] {
    background-color: #009961;
    color: white;
    border-radius: 16px;
    padding: 8px 12px;
}

