/* * {
    border: 1px dashed rgb(134, 67, 67);
    background-color: rgba(0, 0, 0, 0.1);
} */

body {
    box-sizing: border-box;
}

#bg-img {
    background-image: url(../../image/Calculateur.svg);
    background-position: 50% 50%; /* axe X - axe Y*/
    background-repeat: no-repeat;
    background-size: 90%;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 15px solid green;
    position: absolute;
    right: -50px;
    top: -50px;
}

.w-special {
    max-width: 1020px;
}

#form-style {
    padding: 20px;
    margin: auto;

}

.f-1-600 {
    flex: 1 1 400px;
}

form {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

form input {
    background-color: #ffffff9c;
}

.msg-btn-style {
    max-height: 180px;
}

#message {
    padding-bottom: 120px;
}

.input-footer {
    gap: 16px;
}

button[type=submit] {
    background: linear-gradient(rgba(0, 153, 97, 1), rgba(0, 255, 21, 0.3));
    color: white;
    border-radius: 16px;
    padding: 6px 12px;
}

